

body{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 0px;



}
.container {
    width: 500px;
    height: 480px;
    margin-top: 0px;
    border: solid black 2px;
    /* display: flexbox; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: rgb(86, 79, 79);
    border-radius: 28px;
    box-shadow: 5px 5px 16px 4px rgba(0,0,0,0.2);



}
h1{
    text-align: center;
    color: white;
    
}
.colorPalet{
    height: 200px;
    width: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px ;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 3px 3px 15px 4px rgba(0,0,0,0.2);
}
label{
    display: block;
    margin: auto;
    text-align: center;

    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
}


input[type="color"]{
    display: block;
    height: 50px;
    width: 70px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin: auto;
    margin-top: 8px;
    border-radius: 10px;
    border: none;



    cursor: pointer;
    box-shadow: 5px 5px 16px 4px rgba(0,0,0,0.2);
    /* background-color: red; */
}