body{
    background-color: rgb(122, 122, 95);
    display: flex;
    
    justify-content: center;
    margin: auto;
    
}

.to-do-list{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;

}

h1{
    font-size: 3.4rem;

}
button{
    font-size: 1.7rem;
    font-weight: bold;
    pad: 10px 20px;
    columns: white;
    border: none;
    /* border-radius: 18px; */
    cursor: pointer;
    transition: background-color 0.5 ease;


}
.add-bton{
    background-color: hsl(125, 47%, 54%);

}
.add-bton:hover{
    opacity: 0.8;
}
.add-bton:active{
    border: none;
    opacity: 0.6;
}

.delete-bton{
    background-color: hsla(0, 90%, 53%, 0.758);

}
.delete-bton:hover{
    opacity: 0.8;
}
.delete-bton:active{
    border: none;
    opacity: 0.6;
} 

.move{
    background-color: hsla(51, 56%, 59%, 0.99);

}
.move:hover{
    opacity: 0.8;
}
.move:active{
    border: none;
    opacity: 0.6;
} 
input[type = "text"]{
    font-size:1.6rem;
    padding: 13px;
    color: hsla(0, 0%, 100%, 0.9);
    
    border-radius: 13px;
    border: 2px solid hsla(0, 0, 0, 0.6);

}
ol{


    padding: 0;
  
}
li{
    display: flex;
    flex:1;
    gap: 6px;
    padding: 15px;

 
      font-size: 2rem;
    font-weight: bold;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    border-radius: 15px;
    border: solid hsla(0, 0%, 85%, 0.6);
    background-color: hsla(0, 0%, 0%, 0.778);


}
.text{
    flex:1;
}
.delete-bton{
    padding: 10px 18px;
    border-radius: 14px;
     
}
.move{
    padding: 6px 8px;
    border-radius: 6px;

}